*{
    padding: 0px;
    Margin:0px;
    border:0px;
}
nav{
    background-color: black;
    padding:10px;
}
h1{
    color:white;
    display:inline;
    margin-left: 10px;
}
li{
    color:rgb(171, 162, 162);
    cursor:pointer;
    display :inline;
}
li:hover{
    color:white;
}
ul{
    display:inline;
    margin-left: 900px;
}
input{
    padding:10px;
    width:70%;
    border-color: black;
    border-width: 2px;
    border-style:solid;
}
.Search{
    padding:50px;
}
.box{
    border-color: black;
    border-width:2px;
    border-style:solid;
    display:inline-block;
    width:250px;
    margin-left: 10px;
    cursor:grab;
    
}
.box:hover{
    background-color: black;
    color: white;
}
.products{
    text-align: center;
}
.about{
    h1{
        color:black;
    }
    text-align: center;
    margin-top: 20px;
    p{
        padding-top: 10px;
    }
}
.contact{
    h3{
        text-align: center;
        color:white;
        cursor:pointer;
    }
    margin-top:20px;
    padding-top:10px;

    p{
        text-align:center ;
        margin-top: 30px;
        color:antiquewhite;
    }
}
